.checkboxContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-accent);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s;
  user-select: none;
}

.checkboxContainer:hover {
    border: 2px solid var(--primary-accent);
    transition: border 0.2s;
}



.checkboxWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.labelWrapper {
  display: flex;
  justify-content: start;
  font-size: 16px;
  color: grey;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customBox {
  position: absolute;
  height: 21px;
  width: 21px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid var(--primary-accent);
  transition: all 0.2s;
}

.hiddenCheckbox:checked ~ .customBox {
  background-color: var(--primary-accent);
  border-color: var(--primary-accent);
}

.hiddenCheckbox:checked ~ .checkboxContainer {
  background-color: var(--primary-accent);
  border-color: var(--primary-accent);
}

.customBox:after {
  content: "";
  position: absolute;
  display: none;
}

.hiddenCheckbox:checked ~ .customBox:after {
  display: block;
}

.customBox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}