.signUpPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.signUpCard{
    display: flex;
    flex-direction: column;;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-accent);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    gap: 15px;
}

.titleText{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-accent);
}

.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 15px;
}

.nameRow {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.nameRow > * {
    flex-grow: 1;
}

.primaryHorizontalLine {
    color: var(--primary-accent);
    background-color: var(--primary-accent);
    border: 0;
    border-radius: 2px;
    height: 2px;
    width: 100%;
}