.primaryButton{
    background-color: transparent;
    color: var(--primary-accent);
    border: 1px solid var(--primary-accent);
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 100%;
}

.primaryButton:hover{
    background-color: var(--primary-accent);
    color: white;
}